*{
    padding: 0;
    margin: 0;
}

.caja {
    background-color: lightblue;
    width: 300px;
    height: 200px;
    margin: auto;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

@media screen and (max-width: 600px){
    .caja {
        background: lightcoral;
        font-size: 18px;
    }
    
}


@media screen and (min-width: 900px){
    .caja {
        background: lightgreen;
        font-size: 30px;
    }
    
}

