*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.caja1 {
    background-color: red;
    width: 50%;
    float: left;
    padding: 2%;
}

.caja2 {
    background-color: blue;
    width: 50%;
    float: left;
    padding: 2%;
}

@media screen and (max-width: 600px) {
    .caja1, .caja2 {
        float: none;
        width: 100%;
        text-align: center;
    }
    
}